@import "https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-cascadia-mono: "Cascadia Mono", monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
